<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustcsoft.pdqc.core.autogen.dao.PdDApproveFileMapper">
  <resultMap id="BaseResultMap" type="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFile">
    <id column="file_no" jdbcType="VARCHAR" property="fileNo" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="n_file_name" jdbcType="VARCHAR" property="nFileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="org_no" jdbcType="VARCHAR" property="orgNo" />
    <result column="pnt_id" jdbcType="VARCHAR" property="pntId" />
    <result column="employee_no" jdbcType="VARCHAR" property="employeeNo" />
    <result column="file_type_no" jdbcType="VARCHAR" property="fileTypeNo" />
    <result column="format_type" jdbcType="VARCHAR" property="formatType" />
    <result column="file_order" jdbcType="INTEGER" property="fileOrder" />
    <result column="order_index" jdbcType="BIGINT" property="orderIndex" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="row_version" jdbcType="BIGINT" property="rowVersion" />
    <result column="screen_id" jdbcType="VARCHAR" property="screenId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    file_no, file_name, n_file_name, file_path, org_no, pnt_id, employee_no, file_type_no, 
    format_type, file_order, order_index, del_flag, created_by, date_created, modified_by, 
    date_modified, row_version, screen_id
  </sql>
  <select id="selectByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pd_d_approve_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFileKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pd_d_approve_file
    where file_no = #{fileNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFileKey">
    delete from pd_d_approve_file
    where file_no = #{fileNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFileExample">
    delete from pd_d_approve_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFile">
    insert into pd_d_approve_file (file_no, file_name, n_file_name, 
      file_path, org_no, pnt_id, 
      employee_no, file_type_no, format_type, 
      file_order, order_index, del_flag, 
      created_by, date_created, modified_by, 
      date_modified, row_version, screen_id
      )
    values (#{fileNo,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{nFileName,jdbcType=VARCHAR}, 
      #{filePath,jdbcType=VARCHAR}, #{orgNo,jdbcType=VARCHAR}, #{pntId,jdbcType=VARCHAR}, 
      #{employeeNo,jdbcType=VARCHAR}, #{fileTypeNo,jdbcType=VARCHAR}, #{formatType,jdbcType=VARCHAR}, 
      #{fileOrder,jdbcType=INTEGER}, #{orderIndex,jdbcType=BIGINT}, #{delFlag,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{dateCreated,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR}, 
      #{dateModified,jdbcType=TIMESTAMP}, #{rowVersion,jdbcType=BIGINT}, #{screenId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFile">
    insert into pd_d_approve_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileNo != null">
        file_no,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="nFileName != null">
        n_file_name,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="orgNo != null">
        org_no,
      </if>
      <if test="pntId != null">
        pnt_id,
      </if>
      <if test="employeeNo != null">
        employee_no,
      </if>
      <if test="fileTypeNo != null">
        file_type_no,
      </if>
      <if test="formatType != null">
        format_type,
      </if>
      <if test="fileOrder != null">
        file_order,
      </if>
      <if test="orderIndex != null">
        order_index,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="dateCreated != null">
        date_created,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
      <if test="screenId != null">
        screen_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileNo != null">
        #{fileNo,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="nFileName != null">
        #{nFileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="orgNo != null">
        #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="pntId != null">
        #{pntId,jdbcType=VARCHAR},
      </if>
      <if test="employeeNo != null">
        #{employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="fileTypeNo != null">
        #{fileTypeNo,jdbcType=VARCHAR},
      </if>
      <if test="formatType != null">
        #{formatType,jdbcType=VARCHAR},
      </if>
      <if test="fileOrder != null">
        #{fileOrder,jdbcType=INTEGER},
      </if>
      <if test="orderIndex != null">
        #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=BIGINT},
      </if>
      <if test="screenId != null">
        #{screenId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFileExample" resultType="java.lang.Integer">
    select count(*) from pd_d_approve_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pd_d_approve_file
    <set>
      <if test="record._selectiveMark.fileNo != null">
        file_no = #{record.fileNo,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.fileName != null">
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.nFileName != null">
        n_file_name = #{record.nFileName,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.orgNo != null">
        org_no = #{record.orgNo,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.pntId != null">
        pnt_id = #{record.pntId,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.employeeNo != null">
        employee_no = #{record.employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.fileTypeNo != null">
        file_type_no = #{record.fileTypeNo,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.formatType != null">
        format_type = #{record.formatType,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.fileOrder != null">
        file_order = #{record.fileOrder,jdbcType=INTEGER},
      </if>
      <if test="record._selectiveMark.orderIndex != null">
        order_index = #{record.orderIndex,jdbcType=BIGINT},
      </if>
      <if test="record._selectiveMark.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateCreated != null">
        date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.modifiedBy != null">
        modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateModified != null">
        date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.rowVersion != null">
        row_version = #{record.rowVersion,jdbcType=BIGINT},
      </if>
      <if test="record._selectiveMark.screenId != null">
        screen_id = #{record.screenId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pd_d_approve_file
    set file_no = #{record.fileNo,jdbcType=VARCHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      n_file_name = #{record.nFileName,jdbcType=VARCHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      org_no = #{record.orgNo,jdbcType=VARCHAR},
      pnt_id = #{record.pntId,jdbcType=VARCHAR},
      employee_no = #{record.employeeNo,jdbcType=VARCHAR},
      file_type_no = #{record.fileTypeNo,jdbcType=VARCHAR},
      format_type = #{record.formatType,jdbcType=VARCHAR},
      file_order = #{record.fileOrder,jdbcType=INTEGER},
      order_index = #{record.orderIndex,jdbcType=BIGINT},
      del_flag = #{record.delFlag,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      row_version = #{record.rowVersion,jdbcType=BIGINT},
      screen_id = #{record.screenId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFile">
    update pd_d_approve_file
    <set>
      <if test="_selectiveMark.fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.nFileName != null">
        n_file_name = #{nFileName,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.orgNo != null">
        org_no = #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.pntId != null">
        pnt_id = #{pntId,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.employeeNo != null">
        employee_no = #{employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.fileTypeNo != null">
        file_type_no = #{fileTypeNo,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.formatType != null">
        format_type = #{formatType,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.fileOrder != null">
        file_order = #{fileOrder,jdbcType=INTEGER},
      </if>
      <if test="_selectiveMark.orderIndex != null">
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="_selectiveMark.delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateCreated != null">
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.rowVersion != null">
        row_version = #{rowVersion,jdbcType=BIGINT},
      </if>
      <if test="_selectiveMark.screenId != null">
        screen_id = #{screenId,jdbcType=VARCHAR},
      </if>
    </set>
    where file_no = #{fileNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDApproveFile">
    update pd_d_approve_file
    set file_name = #{fileName,jdbcType=VARCHAR},
      n_file_name = #{nFileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      org_no = #{orgNo,jdbcType=VARCHAR},
      pnt_id = #{pntId,jdbcType=VARCHAR},
      employee_no = #{employeeNo,jdbcType=VARCHAR},
      file_type_no = #{fileTypeNo,jdbcType=VARCHAR},
      format_type = #{formatType,jdbcType=VARCHAR},
      file_order = #{fileOrder,jdbcType=INTEGER},
      order_index = #{orderIndex,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=BIGINT},
      screen_id = #{screenId,jdbcType=VARCHAR}
    where file_no = #{fileNo,jdbcType=VARCHAR}
  </update>
</mapper>