<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustcsoft.pdqc.core.autogen.dao.PdDPatientFollowupMapper">
  <resultMap id="BaseResultMap" type="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowup">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="hp_id" jdbcType="VARCHAR" property="hpId" />
    <result column="pt_id" jdbcType="VARCHAR" property="ptId" />
    <result column="tdate" jdbcType="TIMESTAMP" property="tdate" />
    <result column="emergency" jdbcType="VARCHAR" property="emergency" />
    <result column="emergency_detail" jdbcType="VARCHAR" property="emergencyDetail" />
    <result column="illness_change" jdbcType="VARCHAR" property="illnessChange" />
    <result column="illness_change_detail" jdbcType="VARCHAR" property="illnessChangeDetail" />
    <result column="appelity" jdbcType="VARCHAR" property="appelity" />
    <result column="sleep_quality" jdbcType="VARCHAR" property="sleepQuality" />
    <result column="activity_amount" jdbcType="VARCHAR" property="activityAmount" />
    <result column="emotion" jdbcType="VARCHAR" property="emotion" />
    <result column="blood_pressure" jdbcType="VARCHAR" property="bloodPressure" />
    <result column="blood_glucose" jdbcType="VARCHAR" property="bloodGlucose" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="ultrafiltration" jdbcType="VARCHAR" property="ultrafiltration" />
    <result column="urinary_production" jdbcType="VARCHAR" property="urinaryProduction" />
    <result column="unwell_chief_complaint" jdbcType="VARCHAR" property="unwellChiefComplaint" />
    <result column="followup_problem" jdbcType="VARCHAR" property="followupProblem" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="row_version" jdbcType="INTEGER" property="rowVersion" />
    <result column="screen_id" jdbcType="VARCHAR" property="screenId" />
    <result column="publicity_education_focus" jdbcType="VARCHAR" property="publicityEducationFocus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hp_id, pt_id, tdate, emergency, emergency_detail, illness_change, illness_change_detail, 
    appelity, sleep_quality, activity_amount, emotion, blood_pressure, blood_glucose, 
    weight, ultrafiltration, urinary_production, unwell_chief_complaint, followup_problem, 
    del_flag, created_by, date_created, modified_by, date_modified, row_version, screen_id, 
    publicity_education_focus
  </sql>
  <select id="selectByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pd_d_patient_followup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowupKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pd_d_patient_followup
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowupKey">
    delete from pd_d_patient_followup
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowupExample">
    delete from pd_d_patient_followup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowup">
    insert into pd_d_patient_followup (id, hp_id, pt_id, 
      tdate, emergency, emergency_detail, 
      illness_change, illness_change_detail, appelity, 
      sleep_quality, activity_amount, emotion, 
      blood_pressure, blood_glucose, weight, 
      ultrafiltration, urinary_production, unwell_chief_complaint, 
      followup_problem, del_flag, created_by, 
      date_created, modified_by, date_modified, 
      row_version, screen_id, publicity_education_focus
      )
    values (#{id,jdbcType=VARCHAR}, #{hpId,jdbcType=VARCHAR}, #{ptId,jdbcType=VARCHAR}, 
      #{tdate,jdbcType=TIMESTAMP}, #{emergency,jdbcType=VARCHAR}, #{emergencyDetail,jdbcType=VARCHAR}, 
      #{illnessChange,jdbcType=VARCHAR}, #{illnessChangeDetail,jdbcType=VARCHAR}, #{appelity,jdbcType=VARCHAR}, 
      #{sleepQuality,jdbcType=VARCHAR}, #{activityAmount,jdbcType=VARCHAR}, #{emotion,jdbcType=VARCHAR}, 
      #{bloodPressure,jdbcType=VARCHAR}, #{bloodGlucose,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, 
      #{ultrafiltration,jdbcType=VARCHAR}, #{urinaryProduction,jdbcType=VARCHAR}, #{unwellChiefComplaint,jdbcType=VARCHAR}, 
      #{followupProblem,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{dateCreated,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR}, #{dateModified,jdbcType=TIMESTAMP}, 
      #{rowVersion,jdbcType=INTEGER}, #{screenId,jdbcType=VARCHAR}, #{publicityEducationFocus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowup">
    insert into pd_d_patient_followup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hpId != null">
        hp_id,
      </if>
      <if test="ptId != null">
        pt_id,
      </if>
      <if test="tdate != null">
        tdate,
      </if>
      <if test="emergency != null">
        emergency,
      </if>
      <if test="emergencyDetail != null">
        emergency_detail,
      </if>
      <if test="illnessChange != null">
        illness_change,
      </if>
      <if test="illnessChangeDetail != null">
        illness_change_detail,
      </if>
      <if test="appelity != null">
        appelity,
      </if>
      <if test="sleepQuality != null">
        sleep_quality,
      </if>
      <if test="activityAmount != null">
        activity_amount,
      </if>
      <if test="emotion != null">
        emotion,
      </if>
      <if test="bloodPressure != null">
        blood_pressure,
      </if>
      <if test="bloodGlucose != null">
        blood_glucose,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="ultrafiltration != null">
        ultrafiltration,
      </if>
      <if test="urinaryProduction != null">
        urinary_production,
      </if>
      <if test="unwellChiefComplaint != null">
        unwell_chief_complaint,
      </if>
      <if test="followupProblem != null">
        followup_problem,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="dateCreated != null">
        date_created,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
      <if test="screenId != null">
        screen_id,
      </if>
      <if test="publicityEducationFocus != null">
        publicity_education_focus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hpId != null">
        #{hpId,jdbcType=VARCHAR},
      </if>
      <if test="ptId != null">
        #{ptId,jdbcType=VARCHAR},
      </if>
      <if test="tdate != null">
        #{tdate,jdbcType=TIMESTAMP},
      </if>
      <if test="emergency != null">
        #{emergency,jdbcType=VARCHAR},
      </if>
      <if test="emergencyDetail != null">
        #{emergencyDetail,jdbcType=VARCHAR},
      </if>
      <if test="illnessChange != null">
        #{illnessChange,jdbcType=VARCHAR},
      </if>
      <if test="illnessChangeDetail != null">
        #{illnessChangeDetail,jdbcType=VARCHAR},
      </if>
      <if test="appelity != null">
        #{appelity,jdbcType=VARCHAR},
      </if>
      <if test="sleepQuality != null">
        #{sleepQuality,jdbcType=VARCHAR},
      </if>
      <if test="activityAmount != null">
        #{activityAmount,jdbcType=VARCHAR},
      </if>
      <if test="emotion != null">
        #{emotion,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressure != null">
        #{bloodPressure,jdbcType=VARCHAR},
      </if>
      <if test="bloodGlucose != null">
        #{bloodGlucose,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="ultrafiltration != null">
        #{ultrafiltration,jdbcType=VARCHAR},
      </if>
      <if test="urinaryProduction != null">
        #{urinaryProduction,jdbcType=VARCHAR},
      </if>
      <if test="unwellChiefComplaint != null">
        #{unwellChiefComplaint,jdbcType=VARCHAR},
      </if>
      <if test="followupProblem != null">
        #{followupProblem,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="screenId != null">
        #{screenId,jdbcType=VARCHAR},
      </if>
      <if test="publicityEducationFocus != null">
        #{publicityEducationFocus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowupExample" resultType="java.lang.Integer">
    select count(*) from pd_d_patient_followup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pd_d_patient_followup
    <set>
      <if test="record._selectiveMark.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.hpId != null">
        hp_id = #{record.hpId,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.ptId != null">
        pt_id = #{record.ptId,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.tdate != null">
        tdate = #{record.tdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.emergency != null">
        emergency = #{record.emergency,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.emergencyDetail != null">
        emergency_detail = #{record.emergencyDetail,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.illnessChange != null">
        illness_change = #{record.illnessChange,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.illnessChangeDetail != null">
        illness_change_detail = #{record.illnessChangeDetail,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.appelity != null">
        appelity = #{record.appelity,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.sleepQuality != null">
        sleep_quality = #{record.sleepQuality,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.activityAmount != null">
        activity_amount = #{record.activityAmount,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.emotion != null">
        emotion = #{record.emotion,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.bloodPressure != null">
        blood_pressure = #{record.bloodPressure,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.bloodGlucose != null">
        blood_glucose = #{record.bloodGlucose,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.weight != null">
        weight = #{record.weight,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.ultrafiltration != null">
        ultrafiltration = #{record.ultrafiltration,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.urinaryProduction != null">
        urinary_production = #{record.urinaryProduction,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.unwellChiefComplaint != null">
        unwell_chief_complaint = #{record.unwellChiefComplaint,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.followupProblem != null">
        followup_problem = #{record.followupProblem,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateCreated != null">
        date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.modifiedBy != null">
        modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateModified != null">
        date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.rowVersion != null">
        row_version = #{record.rowVersion,jdbcType=INTEGER},
      </if>
      <if test="record._selectiveMark.screenId != null">
        screen_id = #{record.screenId,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.publicityEducationFocus != null">
        publicity_education_focus = #{record.publicityEducationFocus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pd_d_patient_followup
    set id = #{record.id,jdbcType=VARCHAR},
      hp_id = #{record.hpId,jdbcType=VARCHAR},
      pt_id = #{record.ptId,jdbcType=VARCHAR},
      tdate = #{record.tdate,jdbcType=TIMESTAMP},
      emergency = #{record.emergency,jdbcType=VARCHAR},
      emergency_detail = #{record.emergencyDetail,jdbcType=VARCHAR},
      illness_change = #{record.illnessChange,jdbcType=VARCHAR},
      illness_change_detail = #{record.illnessChangeDetail,jdbcType=VARCHAR},
      appelity = #{record.appelity,jdbcType=VARCHAR},
      sleep_quality = #{record.sleepQuality,jdbcType=VARCHAR},
      activity_amount = #{record.activityAmount,jdbcType=VARCHAR},
      emotion = #{record.emotion,jdbcType=VARCHAR},
      blood_pressure = #{record.bloodPressure,jdbcType=VARCHAR},
      blood_glucose = #{record.bloodGlucose,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=VARCHAR},
      ultrafiltration = #{record.ultrafiltration,jdbcType=VARCHAR},
      urinary_production = #{record.urinaryProduction,jdbcType=VARCHAR},
      unwell_chief_complaint = #{record.unwellChiefComplaint,jdbcType=VARCHAR},
      followup_problem = #{record.followupProblem,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      row_version = #{record.rowVersion,jdbcType=INTEGER},
      screen_id = #{record.screenId,jdbcType=VARCHAR},
      publicity_education_focus = #{record.publicityEducationFocus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowup">
    update pd_d_patient_followup
    <set>
      <if test="_selectiveMark.hpId != null">
        hp_id = #{hpId,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.ptId != null">
        pt_id = #{ptId,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.tdate != null">
        tdate = #{tdate,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.emergency != null">
        emergency = #{emergency,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.emergencyDetail != null">
        emergency_detail = #{emergencyDetail,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.illnessChange != null">
        illness_change = #{illnessChange,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.illnessChangeDetail != null">
        illness_change_detail = #{illnessChangeDetail,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.appelity != null">
        appelity = #{appelity,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.sleepQuality != null">
        sleep_quality = #{sleepQuality,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.activityAmount != null">
        activity_amount = #{activityAmount,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.emotion != null">
        emotion = #{emotion,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.bloodPressure != null">
        blood_pressure = #{bloodPressure,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.bloodGlucose != null">
        blood_glucose = #{bloodGlucose,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.weight != null">
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.ultrafiltration != null">
        ultrafiltration = #{ultrafiltration,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.urinaryProduction != null">
        urinary_production = #{urinaryProduction,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.unwellChiefComplaint != null">
        unwell_chief_complaint = #{unwellChiefComplaint,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.followupProblem != null">
        followup_problem = #{followupProblem,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateCreated != null">
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.rowVersion != null">
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="_selectiveMark.screenId != null">
        screen_id = #{screenId,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.publicityEducationFocus != null">
        publicity_education_focus = #{publicityEducationFocus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdDPatientFollowup">
    update pd_d_patient_followup
    set hp_id = #{hpId,jdbcType=VARCHAR},
      pt_id = #{ptId,jdbcType=VARCHAR},
      tdate = #{tdate,jdbcType=TIMESTAMP},
      emergency = #{emergency,jdbcType=VARCHAR},
      emergency_detail = #{emergencyDetail,jdbcType=VARCHAR},
      illness_change = #{illnessChange,jdbcType=VARCHAR},
      illness_change_detail = #{illnessChangeDetail,jdbcType=VARCHAR},
      appelity = #{appelity,jdbcType=VARCHAR},
      sleep_quality = #{sleepQuality,jdbcType=VARCHAR},
      activity_amount = #{activityAmount,jdbcType=VARCHAR},
      emotion = #{emotion,jdbcType=VARCHAR},
      blood_pressure = #{bloodPressure,jdbcType=VARCHAR},
      blood_glucose = #{bloodGlucose,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      ultrafiltration = #{ultrafiltration,jdbcType=VARCHAR},
      urinary_production = #{urinaryProduction,jdbcType=VARCHAR},
      unwell_chief_complaint = #{unwellChiefComplaint,jdbcType=VARCHAR},
      followup_problem = #{followupProblem,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=INTEGER},
      screen_id = #{screenId,jdbcType=VARCHAR},
      publicity_education_focus = #{publicityEducationFocus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>