<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustcsoft.pdqc.core.autogen.dao.PdMExamineScheduledialMapper">
  <resultMap id="BaseResultMap" type="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledial">
    <id column="scheduledial_id" jdbcType="VARCHAR" property="scheduledialId" />
    <result column="pd_center_no" jdbcType="VARCHAR" property="pdCenterNo" />
    <result column="execute_time_no" jdbcType="VARCHAR" property="executeTimeNo" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="order_index" jdbcType="BIGINT" property="orderIndex" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="row_version" jdbcType="BIGINT" property="rowVersion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    scheduledial_id, pd_center_no, execute_time_no, del_flag, order_index, created_by, 
    date_created, modified_by, date_modified, row_version
  </sql>
  <select id="selectByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledialExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pd_m_examine_scheduledial
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledialKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pd_m_examine_scheduledial
    where scheduledial_id = #{scheduledialId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledialKey">
    delete from pd_m_examine_scheduledial
    where scheduledial_id = #{scheduledialId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledialExample">
    delete from pd_m_examine_scheduledial
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledial">
    insert into pd_m_examine_scheduledial (scheduledial_id, pd_center_no, execute_time_no, 
      del_flag, order_index, created_by, 
      date_created, modified_by, date_modified, 
      row_version)
    values (#{scheduledialId,jdbcType=VARCHAR}, #{pdCenterNo,jdbcType=VARCHAR}, #{executeTimeNo,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{orderIndex,jdbcType=BIGINT}, #{createdBy,jdbcType=VARCHAR}, 
      #{dateCreated,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR}, #{dateModified,jdbcType=TIMESTAMP}, 
      #{rowVersion,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledial">
    insert into pd_m_examine_scheduledial
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scheduledialId != null">
        scheduledial_id,
      </if>
      <if test="pdCenterNo != null">
        pd_center_no,
      </if>
      <if test="executeTimeNo != null">
        execute_time_no,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="orderIndex != null">
        order_index,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="dateCreated != null">
        date_created,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scheduledialId != null">
        #{scheduledialId,jdbcType=VARCHAR},
      </if>
      <if test="pdCenterNo != null">
        #{pdCenterNo,jdbcType=VARCHAR},
      </if>
      <if test="executeTimeNo != null">
        #{executeTimeNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="orderIndex != null">
        #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledialExample" resultType="java.lang.Integer">
    select count(*) from pd_m_examine_scheduledial
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pd_m_examine_scheduledial
    <set>
      <if test="record._selectiveMark.scheduledialId != null">
        scheduledial_id = #{record.scheduledialId,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.pdCenterNo != null">
        pd_center_no = #{record.pdCenterNo,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.executeTimeNo != null">
        execute_time_no = #{record.executeTimeNo,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record._selectiveMark.orderIndex != null">
        order_index = #{record.orderIndex,jdbcType=BIGINT},
      </if>
      <if test="record._selectiveMark.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateCreated != null">
        date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.modifiedBy != null">
        modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateModified != null">
        date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.rowVersion != null">
        row_version = #{record.rowVersion,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pd_m_examine_scheduledial
    set scheduledial_id = #{record.scheduledialId,jdbcType=VARCHAR},
      pd_center_no = #{record.pdCenterNo,jdbcType=VARCHAR},
      execute_time_no = #{record.executeTimeNo,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      order_index = #{record.orderIndex,jdbcType=BIGINT},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      row_version = #{record.rowVersion,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledial">
    update pd_m_examine_scheduledial
    <set>
      <if test="_selectiveMark.pdCenterNo != null">
        pd_center_no = #{pdCenterNo,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.executeTimeNo != null">
        execute_time_no = #{executeTimeNo,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="_selectiveMark.orderIndex != null">
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="_selectiveMark.createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateCreated != null">
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.rowVersion != null">
        row_version = #{rowVersion,jdbcType=BIGINT},
      </if>
    </set>
    where scheduledial_id = #{scheduledialId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMExamineScheduledial">
    update pd_m_examine_scheduledial
    set pd_center_no = #{pdCenterNo,jdbcType=VARCHAR},
      execute_time_no = #{executeTimeNo,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      order_index = #{orderIndex,jdbcType=BIGINT},
      created_by = #{createdBy,jdbcType=VARCHAR},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=BIGINT}
    where scheduledial_id = #{scheduledialId,jdbcType=VARCHAR}
  </update>
</mapper>