<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustcsoft.pdqc.core.autogen.dao.PdMTitleEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployee">
    <id column="title_no" jdbcType="VARCHAR" property="titleNo" />
    <id column="employee_no" jdbcType="VARCHAR" property="employeeNo" />
    <result column="order_index" jdbcType="BIGINT" property="orderIndex" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="row_version" jdbcType="BIGINT" property="rowVersion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    title_no, employee_no, order_index, del_flag, created_by, date_created, modified_by, 
    date_modified, row_version
  </sql>
  <select id="selectByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployeeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pd_m_title_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployeeKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pd_m_title_employee
    where title_no = #{titleNo,jdbcType=VARCHAR}
      and employee_no = #{employeeNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployeeKey">
    delete from pd_m_title_employee
    where title_no = #{titleNo,jdbcType=VARCHAR}
      and employee_no = #{employeeNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployeeExample">
    delete from pd_m_title_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployee">
    insert into pd_m_title_employee (title_no, employee_no, order_index, 
      del_flag, created_by, date_created, 
      modified_by, date_modified, row_version
      )
    values (#{titleNo,jdbcType=VARCHAR}, #{employeeNo,jdbcType=VARCHAR}, #{orderIndex,jdbcType=BIGINT}, 
      #{delFlag,jdbcType=CHAR}, #{createdBy,jdbcType=VARCHAR}, #{dateCreated,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=VARCHAR}, #{dateModified,jdbcType=TIMESTAMP}, #{rowVersion,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployee">
    insert into pd_m_title_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="titleNo != null">
        title_no,
      </if>
      <if test="employeeNo != null">
        employee_no,
      </if>
      <if test="orderIndex != null">
        order_index,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="dateCreated != null">
        date_created,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="titleNo != null">
        #{titleNo,jdbcType=VARCHAR},
      </if>
      <if test="employeeNo != null">
        #{employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null">
        #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployeeExample" resultType="java.lang.Integer">
    select count(*) from pd_m_title_employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pd_m_title_employee
    <set>
      <if test="record._selectiveMark.titleNo != null">
        title_no = #{record.titleNo,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.employeeNo != null">
        employee_no = #{record.employeeNo,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.orderIndex != null">
        order_index = #{record.orderIndex,jdbcType=BIGINT},
      </if>
      <if test="record._selectiveMark.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record._selectiveMark.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateCreated != null">
        date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.modifiedBy != null">
        modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateModified != null">
        date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.rowVersion != null">
        row_version = #{record.rowVersion,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pd_m_title_employee
    set title_no = #{record.titleNo,jdbcType=VARCHAR},
      employee_no = #{record.employeeNo,jdbcType=VARCHAR},
      order_index = #{record.orderIndex,jdbcType=BIGINT},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      row_version = #{record.rowVersion,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployee">
    update pd_m_title_employee
    <set>
      <if test="_selectiveMark.orderIndex != null">
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
      <if test="_selectiveMark.delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="_selectiveMark.createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateCreated != null">
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.rowVersion != null">
        row_version = #{rowVersion,jdbcType=BIGINT},
      </if>
    </set>
    where title_no = #{titleNo,jdbcType=VARCHAR}
      and employee_no = #{employeeNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PdMTitleEmployee">
    update pd_m_title_employee
    set order_index = #{orderIndex,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=BIGINT}
    where title_no = #{titleNo,jdbcType=VARCHAR}
      and employee_no = #{employeeNo,jdbcType=VARCHAR}
  </update>
</mapper>