<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustcsoft.pdqc.core.autogen.dao.PSysCodeMapper">
  <resultMap id="BaseResultMap" type="com.ustcsoft.pdqc.core.autogen.entity.PSysCode">
    <id column="code_id" jdbcType="INTEGER" property="codeId" />
    <result column="code_type_id" jdbcType="INTEGER" property="codeTypeId" />
    <result column="code_in_value" jdbcType="VARCHAR" property="codeInValue" />
    <result column="code_value" jdbcType="VARCHAR" property="codeValue" />
    <result column="code_name" jdbcType="VARCHAR" property="codeName" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code_id, code_type_id, code_in_value, code_value, code_name, date_created, date_modified, 
    created_by, modified_by
  </sql>
  <select id="selectByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_sys_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCodeKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_sys_code
    where code_id = #{codeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCodeKey">
    delete from p_sys_code
    where code_id = #{codeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCodeExample">
    delete from p_sys_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCode">
    insert into p_sys_code (code_id, code_type_id, code_in_value, 
      code_value, code_name, date_created, 
      date_modified, created_by, modified_by
      )
    values (#{codeId,jdbcType=INTEGER}, #{codeTypeId,jdbcType=INTEGER}, #{codeInValue,jdbcType=VARCHAR}, 
      #{codeValue,jdbcType=VARCHAR}, #{codeName,jdbcType=VARCHAR}, #{dateCreated,jdbcType=TIMESTAMP}, 
      #{dateModified,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCode">
    insert into p_sys_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codeId != null">
        code_id,
      </if>
      <if test="codeTypeId != null">
        code_type_id,
      </if>
      <if test="codeInValue != null">
        code_in_value,
      </if>
      <if test="codeValue != null">
        code_value,
      </if>
      <if test="codeName != null">
        code_name,
      </if>
      <if test="dateCreated != null">
        date_created,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codeId != null">
        #{codeId,jdbcType=INTEGER},
      </if>
      <if test="codeTypeId != null">
        #{codeTypeId,jdbcType=INTEGER},
      </if>
      <if test="codeInValue != null">
        #{codeInValue,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null">
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null">
        #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCodeExample" resultType="java.lang.Integer">
    select count(*) from p_sys_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update p_sys_code
    <set>
      <if test="record._selectiveMark.codeId != null">
        code_id = #{record.codeId,jdbcType=INTEGER},
      </if>
      <if test="record._selectiveMark.codeTypeId != null">
        code_type_id = #{record.codeTypeId,jdbcType=INTEGER},
      </if>
      <if test="record._selectiveMark.codeInValue != null">
        code_in_value = #{record.codeInValue,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.codeValue != null">
        code_value = #{record.codeValue,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.codeName != null">
        code_name = #{record.codeName,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.dateCreated != null">
        date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.dateModified != null">
        date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record._selectiveMark.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record._selectiveMark.modifiedBy != null">
        modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update p_sys_code
    set code_id = #{record.codeId,jdbcType=INTEGER},
      code_type_id = #{record.codeTypeId,jdbcType=INTEGER},
      code_in_value = #{record.codeInValue,jdbcType=VARCHAR},
      code_value = #{record.codeValue,jdbcType=VARCHAR},
      code_name = #{record.codeName,jdbcType=VARCHAR},
      date_created = #{record.dateCreated,jdbcType=TIMESTAMP},
      date_modified = #{record.dateModified,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCode">
    update p_sys_code
    <set>
      <if test="_selectiveMark.codeTypeId != null">
        code_type_id = #{codeTypeId,jdbcType=INTEGER},
      </if>
      <if test="_selectiveMark.codeInValue != null">
        code_in_value = #{codeInValue,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.codeValue != null">
        code_value = #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.codeName != null">
        code_name = #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.dateCreated != null">
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="_selectiveMark.createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="_selectiveMark.modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where code_id = #{codeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustcsoft.pdqc.core.autogen.entity.PSysCode">
    update p_sys_code
    set code_type_id = #{codeTypeId,jdbcType=INTEGER},
      code_in_value = #{codeInValue,jdbcType=VARCHAR},
      code_value = #{codeValue,jdbcType=VARCHAR},
      code_name = #{codeName,jdbcType=VARCHAR},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where code_id = #{codeId,jdbcType=INTEGER}
  </update>
</mapper>