@extends(views.common.DialogView,  v_sTitle:"传染病患者列表")
@args String hospitalName;
@args String diseases;

@widget.ctnr.Row(){
		@widget.ctnr.Form("search_form"){
			@widget.ctrl.Hidden(sId:"hospitalName",sName:"hospitalName",oValue:hospitalName)
			@widget.ctrl.Hidden(sId:"diseases",sName:"diseases",oValue:diseases)
		}
	
		 @widget.ctrl.Table(sId:"search-result",sQueryParamFunction:"createQueryParams",sUrl:"/DiseasesStatistics/showPatientDetailList",iPageSize:10,sSidePagination:"client"){
			@widget.ctnr.Columns(){
				{title: '序号',align:'center',formatter:function(value, row, index){
					return index + 1;
				}},
				{field: 'name',align:'center',title: '姓名'},
				{field: 'card_no',align:'center',title: '身份证号'},
				{field: 'infection_diseases',align:'center',title: '传染病'},
				{field: 'first_dialsys_date',align:'center',title: '首次腹透日'}
			}
		}
	}

<script>
	function createQueryParams(params) {
		return buildQueryParam('#search_form', params);
	}
</script>
